body {
	font-family: "Roboto Condensed", sans-serif;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	font-size: 35vw;
	color: #fff;
}

p {
	font-size: 4vw;
	color: #fff;
	line-height: 140%;
	margin: 0;
}

/*
-----------------------------------------
	CLIP
-----------------------------------------
*/

.clip-container {
	font-size: 0;
	letter-spacing: 0;
	text-align: center;
}

.clip-wrap {
	display: inline-block;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
}

.clip-hex,
.clip-hex-content {
	-webkit-clip-path: url("index.html#clip-polygon-hex");
	clip-path: url("index.html#clip-polygon-hex");
}

.clip-hex-content {
	padding: 30% 15%;
	width: 99%;
	height: 99%;
	box-sizing: border-box;
	overflow: hidden;

	position: absolute;
	top: .5%;
	left: .5%;

	font-size: initial;
}

.clip-hex:nth-child(5n+1) .clip-hex-content {
	background-color: coral;
}
.clip-hex:nth-child(5n+2) .clip-hex-content {
	background-color: deepskyblue;
}
.clip-hex:nth-child(5n+3) .clip-hex-content {
	background-color: limegreen;
}
.clip-hex:nth-child(5n+4) .clip-hex-content {
	background-color: mediumpurple;
}
.clip-hex:nth-child(5n+5) .clip-hex-content {
	background-color: darkgoldenrod;
}

.clip-svg {
	width: 0;
	height: 0;
}

/*
-----------------------------------------
	FLIP
-----------------------------------------
*/

.flip-container {
    transition: transform 600ms;
	transform-style: preserve-3d;
}

.flip-wrap {
	transition: inherit;
	position: relative;
}

.flip-front,
.flip-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: inherit;

	position: absolute;
	top: .5%;
	left: .5%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.flip-front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: #f2f2f2;
}

.flip-back {
	transform: rotateY(-180deg);
	background-color: #dddddd;
}

.flip-wrap:hover .flip-front {
	transform: rotateY(180deg);
}

.flip-wrap:hover .flip-back {
	transform: rotateY(0deg);
}

/*
-----------------------------------------
	FLEX
-----------------------------------------
*/

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-item {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 80%;
	max-width: 500px;
	height: auto;
	margin-bottom: -11.1vw;
}

.flex-item:nth-child(odd) {
	margin-right: 20%;
}

.flex-item:nth-child(even) {
	margin-left: 20%;
}

.flex-item:before {
	content: '';
	float: left;
	padding-top: 116.279%;
}

/*
-----------------------------------------
	COMMON
-----------------------------------------
*/

.empty {
	background: none;
	opacity: 0;
	visibility: hidden;
}

/*
-----------------------------------------
	RWD
-----------------------------------------
*/

@media all and (min-width: 600px) {

	h2 {
		font-size: 18vw;
	}

	p {
		font-size: 2vw;
	}

	/* reset lower break-point */
	.flex-item:nth-child(even),
	.flex-item:nth-child(odd) {
		margin-right: 0;
		margin-left: 0;
	}

	.flex-container {
		padding: 1%;
	}

	.flex-item {
		flex-basis: 40%;
	}

	.flex-item:nth-child(4n+2) {
		margin-right: 20%;
	}

	.flex-item:nth-child(4n+3) {
		margin-left: 20%;
	}

} /* (min-width: 600px) */

@media all and (min-width: 900px) {

	h2 {
		font-size: 13vw;
	}

	p {
		font-size: 1.4vw;
	}

	/* reset lower break-point */
	.flex-item:nth-child(even),
	.flex-item:nth-child(odd) {
		margin-right: 0;
		margin-left: 0;
	}

	.flex-container {
		padding: 1% 2%;
	}

	.flex-item {
		flex-basis: 28.57%;
		margin-bottom: -7.8vw;
	}

	.flex-item:nth-child(6n+3) {
		margin-right: 14.28%;
	}

	.flex-item:nth-child(6n+4) {
		margin-left: 14.28%;
	}

} /* (min-width: 900px) */

@media all and (min-width: 1400px) {

	h2 {
		font-size: 9vw;
	}

	p {
		font-size: 1.05vw;
	}

	/* reset lower break-point */
	.flex-item:nth-child(even),
	.flex-item:nth-child(odd) {
		margin-right: 0;
		margin-left: 0;
	}

	.flex-container {
		padding: 1% 5%;
	}

	.flex-item {
		flex-basis: 22.22%;
		margin-bottom: -5.8vw;
	}

	.flex-item:nth-child(8n+4) {
		margin-right: 11.11%;
	}

	.flex-item:nth-child(8n+5) {
		margin-left: 11.11%;
	}

} /* (min-width: 1400px) */

@media all and (min-width: 2500px) {

	h2 {
		font-size: 6.5vw;
	}

	p {
		font-size: .75vw;
	}

	/* reset lower break-point */
	.flex-item:nth-child(even),
	.flex-item:nth-child(odd) {
		margin-right: 0;
		margin-left: 0;
	}

	.flex-container {
		padding: 1% 10%;
	}

	.flex-item {
		flex-basis: 18.18%;
		margin-bottom: -4.2vw;
	}

	.flex-item:nth-child(10n+5) {
		margin-right: 9.09%;
	}

	.flex-item:nth-child(10n+6) {
		margin-left: 9.09%;
	}

} /* (min-width: 2500px) */